/*设置SplitePane分割条宽度*/
.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#lv {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

#lv .list-cell:even{
    -fx-background-color: #ECE9E7;
}
#lv .list-cell:odd{
    -fx-background-color: #ECE9E7;
}

#lv .list-cell:selected{
    -fx-background-color: #c0c0c0;
}

#lv .list-cell:empty{
    -fx-background-color: #ECE9E7;
}
#lv .list-cell:hover{
    -fx-background-color:#c9c9c9 ;
}
#lv .list-cell:pressed{
    -fx-background-color:#c0c0c0 ;
}
#msgList{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
#msgList .list-cell:even{
    -fx-background-color: #F5F5F5;
}
#msgList .list-cell:odd{
    -fx-background-color: #F5F5F5;
}

#msgList .list-cell:empty{
    -fx-background-color: #F5F5F5;
}
#msgList .list-cell:hover{
    -fx-background-color:#F5F5F5 ;
}
#msgList .list-cell:pressed{
    -fx-background-color:#F5F5F5 ;
}
#msgList .list-cell:selected{
    -fx-background-color:#F5F5F5 ;
}


/*---- scroll bars ----*/

.scroll-bar {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0;
    -fx-opacity: 0;
    -fx-padding: -7;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

/* make horizontal increment/decrement buttons square */
.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.25em 0.416667em; /* 3 5 */
    -fx-background-insets: 0;
}

/* make vertical increment/decrement buttons square */
.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.416667em 0.25em; /* 5 3 */
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover {
    -fx-background-color: #ddd;
}
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #bbb;
}

/* make thumb flat */
.scroll-bar > .thumb {
    -fx-background-color: #00000022;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .thumb:hover {
    -fx-background-color: #00000044;
}
.scroll-bar > .thumb:pressed {
    -fx-background-color: #00000066;
}


#msg_icon:hover{
    -fx-background-image: url(/icons/contact_32.png);
}

.text-field{
    -fx-background-insets: 0;
    -fx-border-color: #c0c0c0;
    -fx-text-fill: black;
}
.editorArea{
    -fx-background-insets: 0;
    -fx-background-color: #F5F5F5;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-text-fill: black;
}
.editorArea:focused{
    -fx-background-color: white;
}

.editorArea .scroll-pane .content{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: #F5F5F5;

}



.clicked:pressed{
    -fx-background-color: #c0c0c0;
}

.copyLabel{
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.copyLabel .scroll-pane .content{
    -fx-background-color: #F5F5F5;
    -fx-padding: 0;
}

.addFriendBtn{
    -fx-background-color: transparent;
}
.addFriendBtn:hover{
    -fx-background-color: #dadada;
}
.addFriendBtn:pressed {
    -fx-background-color: #F5F5F0;
}