

.clicked:pressed{
    -fx-background-color: #c0c0c0;
}


.editorArea{
    -fx-background-insets: 0;
    -fx-background-color: #F5F5F5;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-text-fill: black;
}
.editorArea:focused{
    -fx-background-color: white;
}

.editorArea .scroll-pane .content{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: #F5F5F5;

}

#msgList{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
#msgList .list-cell:even{
    -fx-background-color: #F5F5F5;
}
#msgList .list-cell:odd{
    -fx-background-color: #F5F5F5;
}

#msgList .list-cell:empty{
    -fx-background-color: #F5F5F5;
}
#msgList .list-cell:hover{
    -fx-background-color:#F5F5F5 ;
}
#msgList .list-cell:pressed{
    -fx-background-color:#F5F5F5 ;
}
#msgList .list-cell:selected{
    -fx-background-color:#F5F5F5 ;
}